<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <form [formGroup]="formTodo" class="d-flex" (submit)="cadastrarTodo()">
        <div class="col mr-2">
          <mat-form-field class="w-100">
            <mat-label>Titulo</mat-label>
            <input type="text" matInput formControlName="nome" placeholder="Ex: Comprar alface">
            <mat-error *ngIf="formTodo.controls.nome.hasError('required')">
              Por favor, informe um titulo!
            </mat-error>
          </mat-form-field>
          <mat-chip-list #chipList aria-label="Tags" *ngIf="adicionarTags">
            <mat-label class="w-100">Tag(s)</mat-label>
            <mat-chip *ngFor="let tag of tags" [selectable]="false"
                    [removable]="true" (removed)="remove(tag)">
              {{tag.nome}}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nova Tag..."
                  [matChipInputFor]="chipList"
                  [matChipInputAddOnBlur]="true"
                  (keyup.enter)="add($event)" id="novaTag">
            <button type="button" mat-mini-fab class="btn-azul-claro" (click)="add = true">
              <mat-icon>send</mat-icon>
            </button>
          </mat-chip-list>
        </div>
        <div class="mr-2" style="height: 40px">
          <button type="button" mat-mini-fab color="accent" (click)="adicionarTags = true">
            <mat-icon>sell</mat-icon>
          </button>
        </div>
        <button mat-raised-button color="primary" style="height: 40px">Cadastrar</button>
      </form>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
